@charset "UTF-8";
@import "variables";
@import "normalize";
@import "fonts";
@import "general";
@import "./all-bloks/al-block";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}
body{
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 800px;
    margin:0px 5px ;
 
}
@media (max-width:785px) {
    body{
        background-image: url(../images/Rectangle\ \(1\).png);
        background-repeat: no-repeat;
        background-size:cover;
        width: auto;
        height: 416px;
    }
    
    
}
